body {
    background-color: #60D8F4;
    background-image: url(../img/svg/fishies.svg);
    background-position: bottom;
    background-repeat: no-repeat;
}


@media (max-width: 48em) {
    .card-columns {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;

    }

    #iamaboat {
        display: none;
    }

    .display-2 {
        font-size: 200%;
        min-width: 250px;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }


}

@media (min-width: 74em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

#botApp {
    min-width: 400px;
    background-image: url(../img/svg/skyandwater.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: fit;

}
    .jumbotron {
        height: 85vh;
        background: none;
        margin-bottom: 0;

    }

.card:hover {
    box-shadow: 0 5px 15px #4d9dc5;
        cursor: pointer;
    }

    .type-to-start {
        text-transform: uppercase;
        color: whitesmoke;
    }

    .push-to-start {
        background-color: none;
    }

    .generated-tweet-box {
        box-shadow: 0 3px 10px #387391;
    }

    .tweet-box-card-header {
        background-color: #4d9dc5;
        color: whitesmoke;
    }
    

    .display-2 {
        color: whitesmoke;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 0 3px 10px #4d9dc5;
        word-wrap: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -o-hyphens: auto;
        hyphens: auto;
    }

.sub-header {
        color: whitesmoke;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        text-shadow: 0 3px 10px #4d9dc5;
    }

    /* Start by setting display:none to make this hidden. 
   Then we position it in relation to the viewport window 
   with position:fixed. Width, height, top and left speak 
   for themselves. Background we set to 80% white with 
   our animation centered, and no-repeating */
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        top: 0;
    }